.contact {
  background-color: white;
  overflow: hidden;
  display: flex;

  .left {
    flex: 1;

    h2 {
      font-size: 40px;
    }
    img {
      height: 80%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    form {
      width: 70%;
      height: 70%;

      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: space-around;

      .name {
        border-radius: 20px;
        font-size: 15px;
        height: 40px;
        width: 300px;
        padding-left: 10px;
      }

      .email {
        border-radius: 20px;
        font-size: 15px;
        height: 40px;
        width: 300px;
        padding-left: 10px;
      }

      .message {
        border-radius: 20px;
        font-size: 15px;
        height: 250px;
        width: 300px;
        padding-left: 10px;
        resize: none;
      }

      button {
        height: 40px;
        width: 90px;
        font-size: 14px;
        cursor: pointer;
        background-color: rgb(50, 123, 50);
        color: white;
        border-radius: 10px;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }

    .confirm {
      text-align: left;
      color: rgb(50, 123, 50);
    }
  }
}
